.five-days-forecast {
  background-image: linear-gradient(to top, #64b3f4 0%, #c2e59c 100%);
  height: calc(100vh - 95.6px);

  section {
    .loader-container {
      width: 100px;
      margin: 0 auto;
    }
    .error-container {
      background-color: rgba(243, 234, 244, 0.1);
      border: 1px solid white;
      border-radius: 20px;
      width: 500px;
      height: 239.65px;
      margin: 0 auto;
      text-align: center;
      .error-message {
        padding-top: 50px;
        color: #ec6e4c;
        font-size: 1.5em;
      }
    }
    span {
      color: #ec6e4c;
    }
    h1 {
      text-align: center;
      margin: 20px auto 0 auto;
    }
    .article-container {
      margin: 20px auto 0 auto;
      width: 95%;
      display: flex;
      justify-content: space-around;
      article {
        border-radius: 20px;

        background-image: linear-gradient(to top, #64b3f4 0%, #c2e59c 100%);
        width: 19.5%;
        .weather {
          text-align: center;
          margin: 0;
        }
        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .measurement-container {
          padding: 30px;
          td {
            padding: 8px;
          }
        }
      }
    }
  }
}
